@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    display: block;
}

.text-primary {
    color: #48a923;
}

#nava {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    overflow: hidden;
}

.lang-selector {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;
}



  nav ul li {
    position: relative;
    transition: 0.2s;
  }
  nav ul li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 98%;
    left: 0;
    background: #48a923;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  nav ul li:hover {
    color: #48a923;
  }
  nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

.text-outline-black {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(44, 44, 44, 0.8);
}

.product {
  width: 120px;
  height: auto;
  margin: auto;
}